
{{#each elways.artist-info}}
<div class="content-block">
	<h1 class="bandTitle"><span class="bandDate">{{ bandDate }}</span><span class="bandName">{{ bandName }}</span></h1>
	<div class="soundcloud-widget">
		<iframe width="100%" height="166" scrolling="no" frameborder="no" src="{{ soundSrc }}&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
	</div>
	<div class="rsvp-button">
		<div class="button-img">
		<a href="{{ rsvpUrl }}"><img src="https://s3.amazonaws.com/elways/taste%26tunes/rsvpFacebook.png"></a>
		</div>
	</div>
	<hr class="band-hr">
</div>
{{/each}}


<div class="sponsor-block">
	<div class="sponsor">
		<h4>Sponsored By</h4>
		{{#each elways.sponsors}}
		<div class="sponsor-logo">
			<a href="{{ sponsor-url }}"><img src="{{ sponsor-img }}"></a>
		</div>
		{{/each}}
	</div> 
</div>

